<h1>Sessions#new</h1>
<p>Find me in app/views/sessions/new.html.erb</p>


<%= form_for @seller, url: create_session_path do |f| %>

    <% flash.each do |key,value|  %>
        <div class="<%= key %>" > <%= value %> </div>
    <% end %>

    <%= f.label :email %>
    <%= f.email_field :email %>

    <%= f.label :password %>
    <%= f.password_field :password %>

    <%= f.submit "Login" %>
<% end %>