
<div class="row">

  <h1 class="jumbotron text-center">Seller Account Sign In</h1>


  <div class="col-sm-4 col-sm-offset-4">

<%= form_for @seller, url: create_session_path do |f| %>

    <% flash.each do |key,value|  %>
        <div class="<%= key %>" > <%= value %> </div>
    <% end %>

    <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, class: "form-control" %>
    </div>

    <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, class: "form-control" %>
    </div>
    <div>
    <%= f.submit "Sign In", "class" => "btn btn-primary center-block" %>
    </div>

<% end %>
      </div>
    </div>
<br>
<p class="text-center">Want to list your items but have no account?<br>
  <%= link_to 'Register to sell here!', new_seller_path%> </p>
