
<h1>Add New Inventory</h1>

<%= link_to 'Add A New Item', new_item_path, "class" => "btn btn-primary" %>


<h1>All Listed Items</h1>


<% @items.each do |item| %>

    <h4><%= item.title%></h4>
    <%= image_tag(item.image, :class => 'photo')%>
    <h5> <%= truncate(item.description, length: 150) %></h5>
    <h5>Sale Price <%= item.price%></h5>
    <%= link_to "See More", item_path(item), "class" => "btn btn-primary" %>




<% end %>
