
<h1 class ="jumbotron text-center"><%= src=image_tag(@seller.logo,:class => 'logo')%>     <%=@seller.shop_name%> Seller Account</h1>


<h1>Add New Inventory</h1>


<%= link_to 'Add A New Item', new_item_path, "class" => "btn btn-primary" %>


<h1>Edit /Delete Your Items</h1>


<div class="row text-center">


  <% @items.each do | item | %>
      <div class="col-md-3 col-sm-6 hero-feature">
        <div class="thumbnail">
          <%= image_tag(item.image, :class => 'picture')%>
          <div class="caption">
            <b><%= item.title%></b>
            <br>
            <%= truncate(item.description, length: 120) %>
            <p></p>
            <b>Sale Price</b>
            <br>
            <%= item.price%>
            <br>
            <%= link_to "See More", item_path(item), "class" => "btn btn-primary" %>

          </div>


        </div>
      </div>

  <% end %>
</div>
