
<h1 class ="jumbotron text-center"><%= src=image_tag(@seller.logo,:class => 'logo')%><br><%=@seller.shop_name%> <br> Seller Account</h1>

<div class="row">
  <div class="col-md-6 col-sm-3">



<h3>Add New Inventory <%= link_to 'Add A New Item', new_item_path, "class" => "btn btn-primary" %> </h3>
 <!--link_to "Edit Seller Account", edit_seller_path(@seller),"class" => "btn btn-primary" -->
<h3>Edit or Remove Items</h3>

  </div>
</div>

<div class="row text-center">


  <% @items.each do | item | %>
      <div class="col-md-3 col-sm-6 hero-feature">
        <div class="thumbnail">
          <%= image_tag(item.image, :class => 'picture')%>
          <div class="caption">
            <b><%= truncate(item.title, length: 24)%></b>
            <br>
            <%= truncate(item.description, length: 100) %>
            <p></p>
            <b>Sale Price</b>
            <br>
            <%= item.price%>
            <br>
            <%= link_to "See More", item_path(item), "class" => "btn btn-primary" %>

          </div>


        </div>
      </div>

  <% end %>
</div>


