<h1>Edit</h1>

<%= form_for @item do |s| %>

    <%= s.label :title %><%= s.text_field :title %>
    <%= s.label :description %><%= s.text_field :description %>
    <%= s.label :price %><%= s.text_field :price %>
    <%= s.label :inventory %><%= s.text_field :inventory %>
    <%= s.label :category_id %><%= s.text_field :category_id %>
    <%= s.label :image %><%= s.text_field :image %>
    <%= s.submit "Submit" %>

<% end %>