<h1>Edit Your Item</h1>

<%= form_for @item do |f| %>

    <div>
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>

    <div>
      <%= f.label :description %>
      <%= f.text_field :description %>
    </div>

    <div>
      <%= f.label :image %>
      <%= f.text_field :image %>
    </div>

    <div>
      <%= f.label :price %>
      <%= f.text_field :price %>
    </div>

    <div>
      <%= f.label :inventory %>
      <%= f.text_field :inventory %>
    </div>

    <div>
      <%= f.label :category_id %>
      <%= f.text_field :category_id %>
    </div>



    <%= f.submit "Edit your item", "class" => "btn btn-primary" %>

<% end %>

<%= link_to "Back to your items", items_path, "class" => "btn btn-primary" %>


