
<h1 class ="jumbotron"> All Items</h1>





<div class="row text-center">


  <% @items.each do | item | %>
      <div class="col-md-3 col-sm-6 hero-feature">
        <div class="thumbnail">
          <%= image_tag(item.image, :class => 'picture')%>
          <div class="caption">
            <b><%= item.title%></b>
            <br>
            <%= truncate(item.description, length: 120) %>
            <p></p>
            <b>Sale Price</b>
            <br>
            <%= item.price%>
            <br>
            <%= link_to "See More", item_path(item), "class" => "btn btn-primary" %>
          </div>


        </div>
      </div>

  <% end %>
</div>
