
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="itemshowphoto">
        <img class="img-responsive item" <%= src=image_tag(@item.image, :class => 'itemshowphoto')%>
      </div>
    </div>
    <div class="col-md-6 col-md-offset-1">
      <div class="caption-full">
        <h4 class="pull-right"><b>Sale Price</b> <%= @item.price%></h4>
        <h3 class="item-title"><%= @item.title%></a></h3>
        <br>
        <b>Description: </b><%= @item.description%>
        <br>
        <b>Inventory:</b> <%= @item.inventory%>
        <br>
        <br>
        <div class="ratings">
          <p class="pull-right">3 reviews</p>
          <p>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
            4.0 stars
          </p>
          <b>Sold by and Ships by:</b>  <%= src=image_tag(@seller.logo,:class => 'logo')%>     <%=@seller.shop_name%></h4>
          <br>
          <b>About this Seller:</b> <%= @seller.business_description %>
          <br>
          <b>Purchase Details:</b> <%= @seller.purchase_desription %>
          <br>

          <% if current_seller == nil%>
          <%else%>
              <% if @item.seller_id == current_seller.id %>
                  <%= link_to "Edit Your Item", edit_item_path(@item),"class" => "btn btn-primary" %>
                  <%= link_to "Delete Your Item", item_path(@item), method: :delete, "class" => "btn btn-primary" %>
              <% end %>
          <% end %>
        </div>
        </div>
      </div>

  <footer>
  </footer>


  </div>
      </div>