<div class="col-md-9">

  <div class="thumbnail">
    <img class="img-responsive" <%= src=image_tag(@item.image, :class => 'photo')%>
    <div class="caption-full">
      <h4 class="pull-right"><%= @item.price%></h4>
      <h4><a href="#"><%= @item.title%></a>
      </h4>

      <p>Description: <%= @item.description%></p>
    <div class="ratings">
      <p class="pull-right">3 reviews</p>
      <p>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star-empty"></span>
        4.0 stars
      </p>
    </div>
  </div>
</div>

</div>

<div class="container">

  <hr>

  <footer>
    <div class="row">
      <div class="col-lg-12">
        <h4>Seller ID <%= @item.seller_id%></h4>
        <h4>Inventory <%= @item.inventory%></h4>
        <%= link_to "Edit Your Item", edit_item_path(@item),"class" => "btn btn-primary" %>
        <%= link_to "Delete Your Item", item_path(@item), method: :delete, "class" => "btn btn-primary" %>
      </div>
    </div>
  </footer>

</div>