<h1>Show</h1>

<h3><%= @item.title%></h3>
<%= image_tag(@item.image, :class => 'photo')%>
<h4>Description: <%= @item.description%></h4>
<h4>Sale Price <%= @item.price%></h4>
<h4>Category Number <%= @item.category_id%></h4>
<h4>Seller ID <%= @item.seller_id%></h4>

