


<% @categories.each do |category| %>

    <h4><%= category.name%></h4>
    <%= image_tag(category.image, :class => 'photo')%>
    <h5> <%= truncate(category.description, length: 150) %></h5>
    <h5>Rank <%= category.rank%></h5>
    <h5>Category ID <%= category.id%></h5>

    <%= link_to "Show all items in this Category", category_path(category), "class" => "btn btn-primary" %>






<% end %>


