<div class="row">
  <h1 class="jumbotron text-center"><%= @category.name%></h1>
  <div class="col-sm-8 col-sm-offset-2">
    <%= image_tag(@category.image, :class => 'catphoto')%>
    <div class="caption">
    </div>

  </div>
</div>

      <p class="text-center"><b>Description</b><%= @category.description%></p>
<br>

<h2 class="text-center">See All Items for Sale in <%= @category.name%></h2>


<div class="row text-center">

<% @category.items.each do | item | %>
      <div class="col-md-3 col-sm-6 hero-feature">
        <div class="thumbnail">
          <%= image_tag(item.image, :class => 'picture')%>
          <div class="caption">
          <b><%= item.title%></b>
            <br>
      <%= truncate(item.description, length: 115) %>
            <p></p>
     <b>Sale Price</b>
            <br>
            <%= item.price%>
            <br>
     <%= link_to "See More", item_path(item), "class" => "btn btn-primary" %>
      </div>


    </div>
</div>

  <% end %>
  </div>

<!-- link_to "Edit Category", edit_category_path(@category),"class" => "btn btn-primary" %>-->
<!--link_to "Delete Category", category_path(@category), method: :delete, "class" => "btn btn-primary" %>-->






