 <h3><%= @category.name%></h3>
    <%= image_tag(@category.image, :class => 'photo')%>
    <h4>Description: <%= @category.description%></h4>
    <h4>Rank <%= @category.rank%></h4>

<%= link_to "Edit Category", edit_category_path(@category),"class" => "btn btn-primary" %>
<%= link_to "Delete Category", category_path(@category), method: :delete, "class" => "btn btn-primary" %>


<% @category.items.each do | item | %>
     <h4><%= item.title%></h4>
     <%= image_tag(item.image, :class => 'photo')%>
     <h5> <%= truncate(item.description, length: 150) %></h5>
     <h5>Sale Price <%= item.price%></h5>
 <% end %>

