 <h1 class="jumbotron text-center"><%= @category.name%></h1>
    <%= image_tag(@category.image, :class => 'photo')%>
    <h4>Description: <%= @category.description%></h4>
    <h4>Rank <%= @category.rank%></h4>

<%= link_to "Edit Category", edit_category_path(@category),"class" => "btn btn-primary" %>
<%= link_to "Delete Category", category_path(@category), method: :delete, "class" => "btn btn-primary" %>


<% @category.items.each do | item | %>
     <h4><%= item.title%></h4>
     <%= image_tag(item.image, :class => 'photo')%>
     <h5> <%= truncate(item.description, length: 150) %></h5>
     <h5>Sale Price <%= item.price%></h5>
     <%= link_to "See More", item_path(item), "class" => "btn btn-primary" %>
 <% end %>

 <div class="container">

   <!-- Jumbotron Header -->
   <header class="jumbotron hero-spacer">

     <h1>A Warm Welcome!</h1>
     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt possimus non incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam repellat.</p>
     <p><a class="btn btn-primary btn-large">Call to action!</a>
     </p>
   </header>

   <hr>

   <!-- Title -->
   <div class="row">
     <div class="col-lg-12">
       <h3>Latest Features</h3>
     </div>
   </div>
   <!-- /.row -->

   <!-- Page Features -->
   <div class="row text-center">

     <div class="col-md-3 col-sm-6 hero-feature">
       <div class="thumbnail">
         <img src="http://placehold.it/800x500" alt="">
         <div class="caption">
           <h3>Feature Label</h3>
           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
           <p>
             <a href="#" class="btn btn-primary">Buy Now!</a> <a href="#" class="btn btn-default">More Info</a>
           </p>
         </div>
       </div>
     </div>

     <div class="col-md-3 col-sm-6 hero-feature">
       <div class="thumbnail">
         <img src="http://placehold.it/800x500" alt="">
         <div class="caption">
           <h3>Feature Label</h3>
           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
           <p>
             <a href="#" class="btn btn-primary">Buy Now!</a> <a href="#" class="btn btn-default">More Info</a>
           </p>
         </div>
       </div>
     </div>

     <div class="col-md-3 col-sm-6 hero-feature">
       <div class="thumbnail">
         <img src="http://placehold.it/800x500" alt="">
         <div class="caption">
           <h3>Feature Label</h3>
           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
           <p>
             <a href="#" class="btn btn-primary">Buy Now!</a> <a href="#" class="btn btn-default">More Info</a>
           </p>
         </div>
       </div>
     </div>

     <div class="col-md-3 col-sm-6 hero-feature">
       <div class="thumbnail">
         <img src="http://placehold.it/800x500" alt="">
         <div class="caption">
           <h3>Feature Label</h3>
           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
           <p>
             <a href="#" class="btn btn-primary">Buy Now!</a> <a href="#" class="btn btn-default">More Info</a>
           </p>
         </div>
       </div>
     </div>

   </div>
   <!-- /.row -->

   <hr>

   <!-- Footer -->
   <footer>
     <div class="row">
       <div class="col-lg-12">
         <p>Copyright &copy; Your Website 2014</p>
       </div>
     </div>
   </footer>

 </div>
 <!-- /.container -->

 <!-- jQuery -->
 <script src="js/jquery.js"></script>

 <!-- Bootstrap Core JavaScript -->
 <script src="js/bootstrap.min.js"></script>

 </body>



